    * {
        margin: 0;
    }

    html,
    body {
        height: 100%;
    }

    body {
        text-align: center;
    }

    .container {
        color: #fff;
        background: rgb(54, 57, 59);
        min-height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .head {
        background: rgb(88, 191, 231);
        line-height: 20px;
        padding: 20px;
        box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    .main {
        /* margin-left: 100px; */
        flex: 1;
        display: flex;
        padding: 0 30px;
    }

    .nav {
        position: absolute;
        right: 10px;
        width: 100px;
    }

    .navItem {
        padding: 10px 20px;
        background: rgb(19, 85, 82);
        margin: 30px 0;
        border-radius: 10px 0 10px 0;
    }

    .items {
        color: #333;
        flex-grow: 1;
        background: #efefef;
        border-radius: 0 0 10px 10px;
        padding: 30px 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: flex-start; */
        align-content: space-around;
    }

    .item {
        /* padding: 50px; */
        width: 300px;
        height: 300px;
        background: rgba(140, 184, 192, 0.336);
        border-radius: 10px;
        margin: 30px;
        color: #fff;
        font-size: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foot {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .routerview {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 70%;
        height: 90%;
        margin: auto;
        /* opacity: 0.8; */
        background: rgba(173, 174, 175, 0.61);
        /* color: #222; */
    }

    .close {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 30px;
        font-weight: bold;
        z-index: 2;
    }

    a,
    a:active,
    a:hover,
    a:visited {
        color: #eee;
        text-decoration: none;
    }

    a:hover {
        color: #fff;
    }

    @media screen and (max-width:1024px) {}

    @media screen and (max-width:768px) {}

    @media screen and (max-width:480px) {
        .main {
            /* margin: 0 10px; */
            padding: 0;
            /* background: url() center/cover no-repeat */
        }
        .nav {
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
            /* height: 40px; */
            display: flex;
        }
        .navItem {
            flex-grow: 1;
            padding: 10px 0;
            background: rgba(14, 68, 65, 0.856);
            margin: 0;
            border-radius: 0 0 10px 10px;
            font-size: 12px;
        }
        .navItemt{
            background: rgba(42, 46, 46, 0.856);
        }
        .items {
            padding: 0;
            width: 100%;
            display: block;
        }
        .item {
            width: 100%;
            margin: 0;
            border-radius: 0;
            font-size: 20px;
            box-shadow: 0 1px 5px 1px #ccc;
        }
        .foot {
            height: 40px;
        }
        .routerview {
            width: 100%;
            height: 100%;
        }
        .close {
            z-index: 2;
        }
    }